.formSection {
    background-color: var(--blueTwo);


    .formInput {
        text-align: center;
        padding: 2em 1.2em;
        width: 55%;
        margin: 0 auto;
        background-color: var(--blueOne);
        position: relative;
        top: 7.5em;

        h2 {
            margin: 0 0;
        }

        p {
            width: 86%;
            margin: 1em auto;
        }

        .formInputs {
            margin-top: 2em;

            input[type="submit"] {
                padding: 1em 0;
                width: 25%;
            }

            input[type="email"] {
                padding: 1em 1em;
                border-radius: 50px;
                margin-right: 1em;
                width: 65%;
                outline: none;

                &:hover {
                    border: 2px groove var(--blueCyan);
                }
            }
        }

    }
}

@media screen and (max-width:765px) {
    .formSection {
        .formInput {
            width: 90%;

            .formInputs {
                input[type="submit"] {
                    padding: 1.15em 0;
                    width: 90%;
                    margin: 0 0 1em 0;
                }

                input[type="email"] {
                    padding: 1em 1em;
                    border-radius: 50px;
                    width: 90%;
                    outline: none;
                    margin: 0 0 1em 0;
                }
            }
        }
    }
}