@import "header";
@import "hero";
@import "icons";
@import "productive";
@import "comments";
@import "formSection";
@import "footer";

:root {
    --blueOne: hsl(217, 28%, 15%);
    --blueTwo: hsl(218, 28%, 13%);
    --blueThree: hsl(216, 53%, 9%);
    --blueFourth: hsl(219, 30%, 18%);
    --blueCyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: var(--blueOne);
    color: var(--white);
}

.raleway400 {
    font-family: "raleway", sans-serif;
    font-weight: 400;
}

.raleway700 {
    font-family: "raleway", sans-serif;
    font-weight: 700;
}

.openSans400 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.openSans700 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;

}

.button {
    outline: none;
    border-radius: 50px;
    background: linear-gradient(to right, var(--blueCyan), var(--blue));
    border: none;
    color: #FFF;
    font-family: inherit;
    font-weight: 700;
    font-size: .8rem;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: ease-in-out all .2s;
    }
}

a {
    text-decoration: none;
}

a:hover,
li:hover {
    cursor: pointer;
    color: var(--blueCyan);
}